@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.glass {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

.whiteFilter {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(103%)
    contrast(103%);
}

.primaryFilter {
  filter: invert(32%) sepia(74%) saturate(4420%) hue-rotate(338deg)
    brightness(100%) contrast(81%);
}

.clippedButton {
  clip-path: polygon(25% 0%, 100% 0, 100% 50%, 75% 100%, 0 98%, 0% 50%);
  border: solid 1px white;
}
.clippedImage {
  clip-path: polygon(25% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 25%);
}

.poligon {
  margin: 0px 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  -webkit-clip-path: polygon(14% 0, 100% 0, 100% 75%, 85% 100%, 0 98%, 0 25%);
  clip-path: polygon(14% 0, 100% 0, 100% 75%, 85% 100%, 0 98%, 0 25%);
}
.poligon.grad.nestButton {
  padding: 2px !important;
}
.poligon.grad.nestButton .poligon {
  margin: 0px 0px !important;
}

.heroFirst {
  height: 400px;
  width: 320px;
}

.heroSecond {
  height: 270px;
  width: 250px;
}
.poligon.grad {
  background: rgb(230, 65, 79);
  background: linear-gradient(
    90deg,
    rgba(230, 65, 79, 1) 0%,
    rgba(34, 85, 177, 1) 100%
  );
}
.poligon.neutral {
  background: #0b1a2f;
  background: linear-gradient(120deg, rgb(21, 52, 110) 0%, #0b1a2f 25%);
}

.poligon > div {
  position: absolute;
  top: 2px; /* equal to border thickness */
  left: 2px; /* equal to border thickness */
  width: 146px; /* container height - (border thickness * 2) */
  height: 146px; /* container height - (border thickness * 2) */
  -webkit-clip-path: polygon(14% 0, 100% 0, 100% 75%, 85% 100%, 0 98%, 0 25%);
  clip-path: polygon(14% 0, 100% 0, 100% 75%, 85% 100%, 0 98%, 0 25%);
}

.customGradient {
  background: rgb(230, 65, 79);
  background: linear-gradient(
    90deg,
    rgba(230, 65, 79, 1) 0%,
    rgba(34, 85, 177, 1) 100%
  );
}
