@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.glass {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

.whiteFilter {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(103%)
    contrast(103%);
}
